body
{
    margin: 0;
    padding: 0;
    background: blanchedalmond;
}
img
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
button
{
    background: transparent;
    outline: none;
    border: none;
    margin-top: 13rem;
    width: 50px;
    height: 50px;
}
.slider
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
    background: chocolate;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}
.slider__inner
{
    display: grid;
    grid-template-columns: 70px 1fr 70px;
}
.slider__element
{
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    opacity: 0;
}
.active
{
    opacity: 1;
    transition: transform 0.7s ease-in;
}
.next
{
   opacity: 0;
   transform: rotate(90deg);   
}
.previous
{
  opacity: 0;
  transform: rotate(90deg);  
}
.slider__element > * + *
{
    margin-bottom: 15px;
}
.top
{
    padding-bottom: 20px;
    text-align: center;
}
.slider__elements
{
    display: flex;
    position: relative;
}
#nextbtn
{
    cursor: pointer;
}
#previousbtn
{
    cursor: pointer;
}
.rightnav
{
    z-index: 100;
}
.leftnav
{
    z-index: 100;
}
.dots-container {
    text-align: center;
    margin-top: 10rem; 

}
.dot {
    display: inline-block;
    width: 35px; 
    height: 5px; 
    border-radius: 10%; 
    background-color: #fff; 
    margin: 0 5px; 
    cursor: pointer; 
}
.dot.active {
    transition: transform 0.7s ease;
    background-color: #333; 
}
